extends ../layouts/default
mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		img(src="/images/post/" + post.image.filename)
		.tekst
			h3.artikkelTittel: a(href='/galleri/post/' + post.slug)= post.title
			section.contentBrief
				p!= post.content.brief
block content
	script(src='/js/jquery/jquery-2.1.4.min.js')

	.container
		.banner
			img(src="/images/bryggen.jpg")
			h2 Legg ut på ei reise du seint vil gløyme
		.table
			each cat in data.categories
				- var i = 0;
				section.kategori
					header
						h2: a(href="/galleri/" + cat.key)= cat.name
						button.visalle.hidden Vis alle
						p=cat.description
					each post in data.posts.results
						if post.categories.length
							if post.categories[0].id.indexOf(cat.id) != -1 && post.image.exists
								div(class= i )
									+post(post)
								-i++
	script.
		$("section.kategori").click(function(){
			if($(this).hasClass("wide")){
				$(this).removeClass("wide");
				$(this).css("display", "inline-table");
				$(".visalle").addClass("hidden");
				$(".banner").show();
				$("section.kategori > div").not('div.0').hide();
			}
			else{
				$(this).addClass("wide");
				$(this).css("display", "block");
				$(".visalle").removeClass("hidden");
				$(".banner").hide();
				$("section.kategori > div").not('div.0').show()
			}
			$(this).siblings().toggle();
		});
		$(".banner").click(function(){
			window.location.href = ("https://dl.dropboxusercontent.com/u/1113159/kartlinje/index.html");
		});
		$( document ).ready(function() {
				$("section.kategori > div").not('div.0').hide();
		});
