extends ../layouts/default
mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		img(src="/images/post/" + post.image.filename)
		.tekst
			h3.artikkelTittel: a(href='/galleri/post/' + post.slug)= post.title
			section.contentBrief
				p!= post.content.brief
block content
	.container
			each cat in data.categories
				section.kategori
					h2: a(href="/galleri/" + cat.key)= cat.name
					each post in data.posts.results
						if post.categories.length
							if post.categories[0].id.indexOf(cat.id) != -1 && post.image.exists
								+post(post)
