extends ../layouts/default
mixin post(post)
	a(style="display: block" href='/galleri/post/' + post.slug): .post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		img(src="/images/post/" + post.image.filename)
		.tekst
			h3.artikkelTittel: a(href='/galleri/post/' + post.slug)= post.title
			section.contentBrief
				p!= post.content.brief
block content
	script(src='/js/jquery/jquery-2.1.4.min.js')

	.container
		.banner
			img(src="/images/bryggen.jpg")
			h2 Legg ut på ei reise du seint vil gløyme
		#arrowPointingDown: a(href="./#kategorier") ↓
		#kategorier.table
			each cat in data.categories
				- var i = 0;
				section.kategori
					header
						h2: a(href="/galleri/" + cat.key)= cat.name
						button.visalle.hidden Vis alle
						p=cat.description
					each post in data.posts.results
						if post.categories.length
							if post.categories[0].id.indexOf(cat.id) != -1 && post.image.exists && i < 1
								div(class= i )
									+post(post)
								-i++
	script.
		$(".banner").click(function(){
			window.location.href = ("./kartlinje/");
		});
		$( document ).ready(function() {
				$("section.kategori > div").not('div.0').hide();
		});
