extends ../layouts/default

block content
	.container: .jumbotron
		<section id="pagewrapper">
		<section id="catwrapper">
		<h3>Nav med kartlinje + andre, ideelt genereres fra artikkelkategorier</h3>
		<ul id="hjemliste">
		<li><a href="/Parallax-del/parallaxhtml.html">Reisen</a></li>
		</ul>
		<section id="catinfo">
		<h3>"Flavor text" for valgt kategori</h3>
		<button type="button">Klikk for å gå til siden som er valgt!</button>
		</section>
		</section>
		</section>