extends ../layouts/default

block content
	.container: .jumbotron
		<section id="pagewrapper">
		<section id="headwrapper"> 
		<h2>Head-wrapper med tittel, logo, muho-meny</h2> 
		<h6>eller modifisering av default.jade headeren</h6>
		</section>
		<section id="catwrapper">
		<h3>Nav med kartlinje + andre, ideelt genereres fra artikkelkategorier</h3>
		<ul id="hjemliste">
		<li>Kartlinje</li>
		<li>Personer</li>
		<li>Amerikabrev</li>
		<li>Skipene</li>
		<li>Bakgrunn</li>
		</ul>
		<section id="catinfo">
		<h3>"Flavor text" for valgt kategori</h3>
		<button type="button">Klikk for å gå til siden som er valgt!</button>
		</section>
		</section>
		</section>