#header {
	margin-top: 30px;
}
h1{
    text-align: center;
    font-weight: bold;
}
.post{
    font-size: 150%;
    padding-left: 20px;
}
.image-wrap{
    width: 440px;
    margin: auto;
}
.pubMeta{
    padding-left: 40%;
    text-align: right;
    font-size: 0.75em;
}
h5{
    font-weight: bold;
    font-style: italic;
    text-align: right;
}
#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}
nav{
	position: relative;
	top: 0;
	left: 0;
	float: none;
}
nav li{
	display: inline;
}
img.img.pull-right{
	width: 160px;
}
article img{
	max-width: 80%;
}

#andreArtikler{
		background-color: white;
    padding-top: 50px;
		width: 100%;
		display: flex;
	}
.artikkel{
	  width: 150px;
		height: 200px;
}
.artikkel img{
    width: 100%;
    height: auto;
}
.artikkel h3{
	height: 3em;
}
