/* Media queries vil midlertidig legges individuelt under det elementet det er en variant av, og samles sammen mot slutten av stylingen. Bare å samle det tidligere om dere vil, opp til dere. Max-width for media-queries er foreløpig 770px. Ca det samme som grensa for drop-down menyen */

#header {
	margin-top: -20px; /*50px;*/
	background-color:#365870;
}
body{
	/*background-color: LightSkyBlue;*/
	background-color: #FFE5BF;
	background-image: url("../images/paperbkg.png");
}

h1{
    text-align: center;
    font-weight: bold;
}

#footer{
	background-color: rgba(10,10,10,0.50);
	width:100%;
	margin:0;
	padding:50px;
}

#footer a{
	text-decoration:none;
	color:#FFFFFF;
	display:block;
}

#footer a:hover{
	color:#D9D9D9;
}

.footerContainer ul{
	list-style-type:none;
	font-size:16px;
	padding:0;
	margin:25px;
}

.footerContainer ul li{
	margin:5px;
}

.footerContainer{
	float:right;
	color:white;
}

.post{
    font-size: 125%;
    margin-left: auto;
		margin-right: auto;
		/*width: 66%;*/
}

article > p{
	margin-top:15px;
}

article > p a{
	color:black;
}
.postText{

	margin-top:25px;
    -webkit-column-count: 2;
   	-moz-column-count: 2;
   	column-count: 2;
   	-webkit-column-gap: 40px;
   	-moz-column-gap: 40px;
   	column-gap: 40px;
    -webkit-column-rule-style: solid;
    -moz-column-rule-style: solid;
    column-rule-style: solid;
    -webkit-column-rule-width: 1px;
    -moz-column-rule-width: 1px;
    column-rule-width: 1px;
}

.postText a{
color: #23527C;
}

.postText a:hover{
	text-decoration: none;
	font-style:italic;
	color: #337AB7;
}

.post img{
	max-width: 100%;
	width: auto;
	max-height: 20em;
	height:auto;
}
.container{
	width:85%;
	align-items: center;
	margin:20px;
	margin-left: auto;
	margin-right: auto;
}

.container .temaNav ul li a{
	margin:10px;
	color:#23527C;
}

.container .temaNav ul li a:hover{
	text-decoration: none;
	color: #337AB7;
}


.image-wrap{
    width: 440px;
    margin: auto;
}
.pubMeta{
    padding-left: 40%;
    text-align: right;
    font-size: 0.75em;
}
h5{
    font-weight: bold;
    font-style: italic;
    text-align: right;
}

nav{
	position: relative;
	top: 0;
	left: 0;
	float: none;
}
nav li, nav h2{
	display: inline;
	font-size: 1.25em;
}

.navbar{
	margin-top:5px;
	margin-bottom:5px;
}

.navbar-default{
	background-color:#365870;
	border-color:#365870;
}

ul.nav.navbar-nav > li > a {
	color:white;
	font-size:15px;
}

.loginout{
	border:2px solid white;
	border-radius:15px;
	/*Media-query for mindre skjerm: ingen border*/
}

@media screen and (max-width: 770px) {

	.loginout{
		border:none; /*Fjerner border i drop-down meny*/
	}

	.loginout:hover{
	background-color:transparent;/*Fjerner lang boks i drop-down meny*/
	}

}

.loginout:hover{
	background-color: #45708F;
	border-radius:15px; /*Samme som -navbar-right li a- radius*/
	/*Skulle gjerne beholdt denne teksten hvit på hover*/
}

@media screen and (max-width: 770px) {

	.loginout:hover{
	background-color:transparent;/*Fjerner lang boks i drop-down meny*/
	}

}

.navbar-default .navbar-brand{
	color:white;
	font-size:24px; /*før: 18px;*/
}

.navbar-default .navbar-toggle .icon-bar{
	background-color:white;
}

img.img.pull-right{
	width: 160px;
}
article img{
	max-width: 80%;
}


#relArt{
	text-align:center;
	margin-bottom:20px;
}

#andreArtikler{
	min-height:200px;
	min-width:675px;
	background-color: rgba(255, 255, 255, 0.25);
	display: flex;
}

#andreArtikler .artikkel{
	background-color: rgba(0, 0, 0, 0.25); /*Fjern seinere*/
	max-width:200px;
	max-height:150px;
	min-height:75px;
	min-width:100px;
}

#andreArtikler .artikkel img{
	margin-top:-100px;
}

#andreArtikler a{
	text-decoration:none;
	color:#23527C;
}

#andreArtikler a h3{
	position:relative;
	visibility:hidden;
	z-index:10;
}

#andreArtikler a:hover h3{
	visibility:visible;
}

#andreArtikler a:hover{
	color:#337AB7;
}

#andreArtikler .artikkel{
	margin: auto;
}

/*#foran, #bak{
	content:"";
	height:10px;
	width:50px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}*/

.artikkel{
	width: 30%;
	padding: 1em;
}
.artikkel img{
	position:relative;
    max-width: 100%;
	width: auto;
    height: auto;
	max-height: 15em;
	z-index:0;
}
.artikkel h3{
	height: 3em;
}

.artikkelTittel a{
	color: #23527C;
}

.artikkelTittel a:hover{
	text-decoration: none;
	color: #337AB7;
}

/*Spesifik style for index-sida under*/

.jumbotron{
	background-color:rgba(255, 255, 255, 0.5);
}

/*Spesifik style for galleri-sida under*/

.galleri .post{
	max-width:80%;
	min-width:60%;
	min-height: 18em;
	max-height:20em;
}

.galleri img{
	max-height: 15em;
	float:right;
}

.galleri .contentBrief{
	max-width:33%;
	font-size:14px;
}

@media screen and (max-width: 770px) {
	.contentBrief{
		font-size:10px;
	}
}
section.kategori{
	display: inline-table;
	position: relative;
	width: 22%;
	height: auto;
	margin: 1%;
	margin-bottom: 1em;
	text-align: left;
}
section.kategori img{
	position: relative;
	width: 100%;
	height: auto;
	top:0;
	left: 0;
	z-index: -1;
}
section.kategori header{
	margin: 0;
	margin-bottom: 0.5em;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.1);
}
.kategori .post .tekst{
	position: relative;
	background-color: rgba(0, 0, 0, 0.1);
	width: 100%;
	padding: 5px;
	margin-bottom: 0.5em;
}
kategori .post p{
	max-width: 100%;
}
section.kategori h2,.kategori .post h3, .kategori .post .contentBrief, .kategori .post p, .kategori .post{
	margin: 0;
}
section.wide{
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.visalle{
	position: absolute;
	top: 0;
	right: 0;
	margin: 1em;
}
.banner{
	height: 250px;
	width: 100%;
	margin-bottom: 1em;
	margin-top: 0;
	overflow: hidden;
	position: relative;
	box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.2);;
}
.banner img{
	width: 100%;
	height: auto;
	position: absolute;
	  top: -9999px;
	  bottom: -9999px;
	  left: -9999px;
	  right: -9999px;
	  margin: auto;
		z-index: -1;
}
.banner:hover, .kategori:hover{
	cursor: pointer;
}
.banner h2{
	position: absolute;
	bottom: 5%;
	left: 45%;
	background-color: rgba(0, 0, 0, 0.5);
	transform: rotate(-0.01turn);
	color: white;
}
.table{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
	justify-content: center;
	text-align: center;
}
