#header {
	margin-top: 50px;
	background-color:#365870;
}
body{
	/*background-color: LightSkyBlue;*/
	background-color: #FFE5BF;
	background-image: url("../images/paperbkg.png");


}
h1{
    text-align: center;
    font-weight: bold;
}
.post{
    font-size: 125%;
    margin-left: auto;
		margin-right: auto;
		/*width: 66%;*/	
}

article > p{
	margin-top:15px;
}

article > p a{
	color:black;
	font-size:100%;
}
.postText{

	margin-top:25px;
    -webkit-column-count: 2;
   	-moz-column-count: 2;
   	column-count: 2;
   	-webkit-column-gap: 40px;
   	-moz-column-gap: 40px;
   	column-gap: 40px;
    -webkit-column-rule-style: solid;
    -moz-column-rule-style: solid;
    column-rule-style: solid;
    -webkit-column-rule-width: 1px;
    -moz-column-rule-width: 1px;
    column-rule-width: 1px;
}

.post img{
	max-width: 100%;
	width: auto;
	max-height: 20em;
	height:auto;
}
.container{
	width:80%;
	align-items: center;
}
.image-wrap{
    width: 440px;
    margin: auto;
}
.pubMeta{
    padding-left: 40%;
    text-align: right;
    font-size: 0.75em;
}
h5{
    font-weight: bold;
    font-style: italic;
    text-align: right;
}
#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}
nav{
	position: relative;
	top: 0;
	left: 0;
	float: none;
}
nav li, nav h2{
	display: inline;
	font-size: 1.25em;
}

.navbar{
	margin-top:5px;
	margin-bottom:5px;
}

.navbar-default{
	background-color:#365870;
	border-color:#365870;
}

ul.nav.navbar-nav > li > a {
	color:white;
}

.navbar-default .navbar-brand{
	color:white;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color:white;
}

img.img.pull-right{
	width: 160px;
}
article img{
	max-width: 80%;
}
#andreArtikler{
		background-color: white;
    padding-top: 50px;
		display: flex;
	}
.artikkel{
	  width: 30%;
		padding: 1em;
}
.artikkel img{
    max-width: 100%;
		width: auto;
    height: auto;
		max-height: 15em;
}
.artikkel h3{
	height: 3em;
}

/*Spesifik style for index-sida under*/

#pagewrapper{
	text-align: center;
}

#headwrapper{
	
}

#catwrapper{
	
}
 #catinfo{

 }

 #hjemliste li{
 font-size: 150%;
 list-style-type: none;
 display: inline;
 margin: 20px;
 }

 #hjemliste li:hover{
 	text-decoration: underline;
 }








